.CartContainer{
    width: 70%;
    min-width: 150px;
    min-height: 260px;
    height: auto;
    Display: flex;
    flex-direction: column;
    background-color: #d9ddd9;
    border-radius: 1rem;
    /*border: 2px solid white;*/
    overflow: auto;
    justify-content: space-between;

}

.CartDetails{
    height: 10rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.noItemInCart{
    color: #666666;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*****  Header *********/
.cartHeader{
    display: flex;
    flex-direction: row;
    /*margin-left: 6rem;*/
    background-color: #528c8c;
    border-bottom: 2px solid grey;
}

.cartItems{
    width: 38%;
    font-weight: bold;
    margin-left: 5.7rem;
}
.qty{
    width: 23%;
    font-weight: bold;
}
.price{
    width: 20%;
    font-weight: bold;
}